PORT=3000
SUPABASE_URL=****
SUPABASE_ANON_KEY=****
SUPABASE_SERVICE_ROLE_KEY=****
GROQ_API_KEY=****
WEATHER_API_KEY=****
TOUR_API_KEY=****
WEATHER_API_KEY=****
TRANSPORT_API_KEY=****
PEXELS_API_KEY=****
KAKAO_MAP_KEY=****
ANTHROPIC_BASE_URL=****
ANTHROPIC_API_KEY=****
