PORT=3000
SUPABASE_URL=*****
SUPABASE_ANON_KEY=*****
AI_PROVIDER=*****
AI_API_KEY=*****
OPENAI_API_KEY=*****
GEMINI_API_KEY=*****
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=*****
KAKAO_MAPS_API_KEY=*****
WEATHER_API_KEY=*****
TOURAPI_KEY=*****
UNSPLASH_ACCESS_KEY=*****
KAKAO_MAP_KEY=****
# map_sync.js 돌려보고 싶으면 필요. 사이트 돌리는데는 필요없습니다
TOUR_API_KEY=***
SUPABASE_SERVICE_KEY=***